# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
apikey.ForecastIo=364eed8cdeebd5063f920d6ec0837d12
apikey.OpenWeatherMap=cd25bd2100d97c4cca6dd27ffcb099a6
#apikey.WorldWeatherOnline=
#apikey.Wunderground=
#apikey.Hamweather=
#apikey2.Hamweather=
#apikey.Meteoblue=

# location configuration, you can specify multiple locations
location.kasimovo.name=Касимово
location.kasimovo.latitude=60.2039
location.kasimovo.longitude=30.3384
location.kasimovo.provider=ForecastIo
location.kasimovo.language=en
location.kasimovo.updateInterval=15
location.kasimovo.units=SI

# location configuration, you can specify multiple locations
location.kasimovo_OWM.name=Касимово OWM
location.kasimovo_OWM.latitude=60.2039
location.kasimovo_OWM.longitude=30.3384
location.kasimovo_OWM.provider=OpenWeatherMap
location.kasimovo_OWM.language=en
location.kasimovo_OWM.updateInterval=10
location.kasimovo_OWM.units=SI

#location.<locationId2>.name=
#location.<locationId2>.latitude=   (not required for Yahoo provider)
#location.<locationId2>.longitude=  (not required for Yahoo provider)
#location.<locationId2>.woeid=      (required for Yahoo provider)
#location.<locationId2>.provider=
#location.<locationId2>.language=
#location.<locationId2>.updateInterval=
#location.<locationId2>.units=
